@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
	background-color: rgb(255,104,93);
}

div#login{
background-color: rgb(235,235,235);
}

div#main_container{
	width: 1020px;
	overflow:auto;
	
}

div#user_info{

	float: left;
	width: 180px;
	min-height: 1000px;
	text-align: center;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
}

div#timeline{
	float: left;
	width: 400px;
	height: 1000px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom:5px;
	border: 1px solid rgb(235,235,235);
	overflow-y: scroll;
}

.timeline_post{
	cursor: pointer;
}

.scroll_div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

.scroll_div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll_div::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

div#scrapbook{
	float: left;
	width: 400px;
	min-height: 1000px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom:5px;
	border: 1px solid rgb(235,235,235);
	overflow-y: scroll;

}

div.tag_suggestion{
	width: 380px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom:5px;
	border: 1px solid rgb(235,235,235);
}

div#search_top{
	background-color: rgb(51,70,87);
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom:5px;
	height: 50px;
	width: 1000px;
	text-align: center;
}

div.fb_post{
	width: 380px;
}

h1.white{
	font-family: 'Arial Black';
	font-size: 60px;
	font-weight: bold;
	color: white;
}

h2.white{
	font-family: 'Nanum Gothic';
	font-weight: bold;
	color: white;
}

h1.purple{
	font-family: 'Nanum Gothic';
	font-size: 60px;
	font-weight: bold;
	color: rgb(184,170,237);
}

h2.purple{
	font-family: 'Nanum Gothic';
	font-weight: bold;
	color: rgb(184,170,237);
}

.login_table{
	font-family: 'Nanum Gothic';
	color: white;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}

.post_list {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}
.post_elem {
	border: 1px solid rgb(235,235,235);
	font-family: 'Nanum Gothic';
	color: rgb(155,155,155);
	background-color: white;
}

.user_info_table {
	font-family: 'Nanum Gothic';
	font-size: 12px;
	text-align: center;
	color: white;
}
.button1{
	border : solid 0px;
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : rgb(155,155,155);
	padding : 1px 2px;
	background-color : white;
	padding:6px 39px;
	cursor: pointer;
}

.button1:hover{
	background-color : rgb(230, 230, 230);
}

.button2 {
	border: 1px solid rgb(184,170,237);
	vertical-align: middle;
}

.button_purple {
	border : solid 0px;
	font-size : 12px;
	font-family: 'Nanum Gothic';
	font-weight:bold;
	color : white;
	padding : 1px 2px;
	background-color : rgb(184,170,237);
	padding:6px 39px;
	cursor: pointer;
}

.button_purple:hover{
	background-color : rgb(224, 218, 248);
}


.input1 {
	border: 1px solid rgb(235,235,235);
	font-size : 20px;
	padding : 5px;
	width: 300px;
	font-family: 'Nanum Gothic';
	color : rgb(180,180,180);
	vertical-align: middle;
}

.comment_table{
	
}

#profile_img{
	margin-top: 5px;
}

.scrap_cancel_button {
    cursor:pointer;
}