/*div styles */

div.fb_post {
    padding: 0px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: rgb(83, 90, 108);
    color: white;
    overflow: auto;
    font-size: 12px;
    line-height: 1.5;
    clear: both;
    width: 382px;
    word-wrap: break-word;
}

div.scrapbook div.fb_post {
    width: auto;
}

div.post_info {
    float: left;
    width: 70px;
    padding: 5px;
    font-weight: bold;
}

div.post_info > div.poster_info > img {
    margin: 0px auto 5px auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

div.content_area {
    margin-left: 80px;
    padding: 0px;
    background-color: white;
    color: black;
    position: relative;
    min-height: 150px;
}

div.content_area > .content {
    padding: 5px 10px;
}

div.content_area > .content > .story {
    font-size: 12px;
    color: rgb(83, 90, 108);
    font-weight: bold;
    padding-bottom: 5px;
}

div.content_area > .content > .message {
    padding-bottom: 5px;
}

div.content_area > .content > .photo {
    padding-bottom: 5px;
}

div.content_area > .content > .photo > img {
    width: 100%;
}

div.content_area > .content > .photo > .caption {
    padding-left: 5px;
    border-left: 2px solid rgb(183, 190, 208);
}

div.content_area > .content > .link {
    border: 1px solid rgb(183, 190, 208);
    background-color: rgb(250, 250, 250);
    overflow: auto;
}

div.content_area > .content > .link > .content {
    padding: 3px;
}

div.content_area > .content > .link > .content > .name {
    color: rgb(83, 90, 108);
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}

div.content_area > .content > .link > .content > .caption {
    color: rgb(83, 90, 108);
    padding-bottom: 3px;
}

div.content_area > .content > .link > .content > .description {

}

div.content_area > .content > .link.with_picture > div.picture {
    width: 80px;
    max-height: 200px;
    float: left;
    overflow: hidden;
}

div.content_area > .content > .link.with_picture > div.picture > img {
    width: 80px;
    display: block;
}

div.content_area > .content > .link.with_picture > .content {
    margin-left: 80px;
}

div.comment_area {
    font-size: 11px;
    background-color: rgb(242, 242, 242);
}

div.comment_area > .title {
    font-size: 13px;
    font-weight: bold;
    color: rgb(241, 196, 15);
    padding: 5px;
}

div.comment_area > div.comment {
    padding: 2px 3px;
    overflow: auto;
    border-top: 2px solid white;
}

div.comment_area > div.comment > div.profile {
    width: 30px;
    float: left;
}

div.comment_area > div.comment > div.profile > img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

div.comment_area > div.comment > div.content {
    margin-left: 35px;
}

div.comment_area > div.comment > div.content > .poster_name {
    font-weight: bold;
}

div.comment_area > .see_more{
	text-align: center;
	font-size: 15px;
	font-weight: 900;
	color: rgb(241, 196, 15);
}

div.scrap_post {
    margin-bottom: 5px;
}

div.scrap_post > div.tags {
    padding-left: 10px;
}

div.scrap_post > div.tags > span, div.scrap_post > div.tags > a {
    background-color: rgb(90, 90, 90);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    margin-right: 3px;
}

div.scrap_post > div.tags > a.unscrap {
    float: right;
    margin-right: 20px;
}

div.scrap_post > div.fb_post {
    margin-bottom: 0px;
}

div.scrap_post > div.add_tags {
    margin: 0px 20px 0px 10px;
    padding-left: 10px;
    background-color: rgb(90, 90, 90);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-color: black;
    font-size: 11px;
}

div.scrap_post > div.add_tags > span.tag {
    background-color: white;
    font-color: black;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
    border-radius: 3px;
    padding: 2px;
}

div.scrap_post > div.add_tags > span.tag > a {
    color: black;
}

div.scrap_post > div.add_tags > form.add_tag {
    display: inline-block;
}

div.scrap_post > div.add_tags > form.add_tag > input[type='submit'] {
    background: none;
    border: none;
}
