@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/** Global Styles */
html {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(255, 130, 119);
    font-family: 'Nanum Gothic';
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/** Style for div */

div#login {
    background-color: rgb(235, 235, 235);
}

div#main_container {
    overflow: auto;
}

div#user_info {
    float: left;
    width: 180px;
    text-align: center;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

div#user_info hr {
    border: 0;
    background-color: rgb(247, 194, 185);
    height: 3px;
    width: 90%;
}

div#user_tag_top {
    width: 180px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

div.post_container {
    float: left;
    width: 420px;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div#scrapbook_content {
	border: 1px white solid;
	border-radius : 4px;
	padding: 8px;
}
div.scrapbook div.post_container {
    width: 640px;
    margin-left: 50px;
}

div.tagtree_container {
    margin-right: 50px;
    margin-left: 220px;
    margin-bottom: 5px;
}

div.post_inner_container {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div.post_cont_title {
    padding-bottom: 15px;
}

div.post_cont_title div.controls {
    float: right;
    color: white;
}

div#search_top {
    background-color: rgb(51, 70, 87);
    margin-bottom: 5px;
    height: 70px;
    text-align: center;

}

#search_area {
    padding-top: 10px;
    margin: 0 auto;
}

#search_area input[type='image'] {
    vertical-align: middle;
}

.post_list {
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
}

.timeline_post {
    cursor: pointer;
}

.scroll_div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: rgb(255, 158, 151);
}

.scroll_div::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(255, 158, 151);
}

.scroll_div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/** Style for text */
#tags > span {
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(83, 90, 108);
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    margin: 0px 0px 3px 5px;
    color: white;
    font-weight: bold;
}

#tags > span > a {
    padding-left: 3px;
}

h1.white {
    font-family: 'Arial Black';
    font-size: 60px;
    font-weight: bold;
    color: white;
}

h2.white {
    font-family: 'Book Antiqua';
    font-weight: bold;
    color: white;
    font-size: 44px;
    margin-bottom: 5px;
}

h1.purple {
    font-family: 'Nanum Gothic';
    font-size: 60px;
    font-weight: bold;
    color: rgb(184, 170, 237);
}

h2.purple {
    font-family: 'Nanum Gothic';
    font-weight: bold;
    color: rgb(184, 170, 237);
}

span.sugg_tag {
    display: inline-block;
    background-color: rgb(255, 158, 151);
    padding: 0px 2px;
    margin: 0px 2px;
    border: 1px solid rgb(255, 158, 151);
    border-radius: 2px;
}

span.title1 {
    padding: 5px 10px;
    color: rgb(247, 230, 220);
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}

/* Style for table */
.login_table {
    font-family: 'Nanum Gothic';
    color: white;
}

.user_info_table {
    font-family: 'Nanum Gothic';
    font-size: 14px;
    text-align: center;
    color: white;
    width: 180px;
}

.user_profile_td {
    height: 190px;
    background-image: url(/images/profile_back_1.png);
    background-repeat: no-repeat;
    background-size: 170px 170px;
    background-position: center;
}

/* Style for buttons */

div.loading {
    text-align: center;
}

div.loading img {
    width: 200px;
}

a.button1 {
    display: inline-block;
    font-size: 12px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    color: rgb(155, 155, 155);
    background-color: white;
    padding: 6px 39px;
    cursor: pointer;
}

a.button1:visited {
    color: rgb(155, 155, 155);
}

a.button1:hover {
    background-color: rgb(230, 230, 230);
    text-decoration: none;
}

.button2 {
    border: 1px solid rgb(184, 170, 237);
    vertical-align: middle;
}

.button_purple {
    border: solid 0px;
    font-size: 12px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    color: white;
    padding: 1px 2px;
    background-color: rgb(184, 170, 237);
    padding: 6px 39px;
    cursor: pointer;
}

.button_purple:hover {
    background-color: rgb(224, 218, 248);
}

.span_button {
    cursor: pointer;
}

.img_button {
    vertical-align: bottom;
    cursor: pointer;
}

span.add_tag_button {
    display: inline-block;
    margin: 3px;
    font-weight: bold;
}

#search_button {
    vertical-align: middle;
}

/* Style for inputs */
.input1 {
    border: 1px solid #555;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    font-family: 'Nanum Gothic';
    color: #F5F5F5;
    background-color: #555;
    vertical-align: middle;
}

.input1 textarea {
    background-color: #555;
}

.tag_input {
    margin: 3px 2px;
    padding: 1px 2px;
    border: 1px solid white;
    border-radius: 2px;
    width: 60px;
}

.tag_input:focus {
    outline: none;
    border-color: rgb(255, 158, 151);
}

/** Style for images */
.profile_pic_user {
    width: 120px;
    height: 120px;
    border-radius: 65px;
    border: 6px solid white;
}

div#user_tags {
    padding: 5px;
    text-align: center;
}

div#user_tags a {
    border-radius: 5px;
    background-color: rgb(83, 90, 108);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    margin: 5px;
    display: inline-block;
}