
/** div styles */

div.tag_tree_container{
	border: dotted 3px #eee;
	height: 450px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 10px;
}

div.tag_tree_top {
	height: 30px;
	margin-bottom:0px;
}

.scroll_div2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: rgb(255, 158, 151);
}

.scroll_div2::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(255, 158, 151);
}

.scroll_div2::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
    background-color: white;
}

/** table styles*/
table.tag_info_table {
    border:2px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
    border-spacing: 0; 
    border-collapse: separate; 
    overflow: hidden;
}

table.tag_info_table td{
	border-left:1px solid white;
	font-size: 13px;
	height: 20px;
	width: 60px;
	text-align: center;
}

th.tag_name{
	width: 80px;	
	text-align: center;
	background-color: rgb(255,193,82);
}

th.top_th {
	background-color: rgb(230, 230, 230);
}

span.done_button {
	display: inline-block;
	background-color: rgb(148, 211, 130);
	padding: 4px 8px;
	margin: 4px 2px;
	border-radius:4px;
	color: white;
	font-weight: bold;
	float: left;
}

.done_button:hover{
	background-color: rgb(164, 222, 160);
}

span.delete_button{
	display: inline-block;
	background-color: rgb(255, 99, 110);
	padding: 4px 8px;
	margin: 4px 2px;
	border-radius:4px;
	color: rgb(187,74,80);
	font-weight: bold;
	float: left;
}

.delete_button:hover{
	background-color: rgb(255, 115, 125);
}

span.edit_button{
	display: inline-block;
	background-color: rgb(140, 217, 211);
	padding: 4px 8px;
	margin: 4px 2px;
	border-radius:4px;
	color: white;
	font-weight: bold;
	float: left;
}

.edit_button:hover{
	background-color: rgb(169, 226, 222);
}

.tag_list {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}
