<div class="fb_post">
<div class="post_content">
<h5 class="user_name">
<img class="profile_pic" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/1115771_100001279082177_843132563_q.jpg" alt="">
Donghun Noh</h5>
<span class="userContent">마지막 FA글<br> <br> 
사실 LG 프론트에서 머형이한테 3년 5억 (사실 내가볼땐 이것도 많음 ㅡㅡ) 제의를 했다는 말을 들었다<br> <br>
<span> 물론 루머긴 한데 저따구가치 있는애가 시장 나와서 얼마나 바랬겠나 한 4년 10억정도 원했겠지 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 근데 현실은ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</span>
<wbr><span class="word_break"></span><span>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</span>
<wbr><span class="word_break"></span>ㅋㅋㅋㅋㅋㅋㅋㅋ</span>
</div>
</div>