<div class="clearfix storyContent">
<a class="actorPhoto lfloat" href="https://www.facebook.com/linus.lee.closed" tabindex="-1" aria-hidden="true" data-ft="{&quot;type&quot;:60,&quot;tn&quot;:&quot;\u003C&quot;}" data-hovercard="/ajax/hovercard/hovercard.php?id=1347454670&amp;extragetparams=%7B%22hc_location%22%3A%22stream%22%7D">
<img class="_s0 profilePic _rw img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/41399_1347454670_3796_q.jpg" alt="">
</a>
<div class="storyInnerContent">
<div class="mainWrapper">
<div class="storyInnerWrapper">
<h5 class="uiStreamMessage uiStreamHeadline" data-ft="{&quot;tn&quot;:&quot;:&quot;}">
<div class="actorDescription actorName" data-ft="{&quot;type&quot;:2,&quot;tn&quot;:&quot;:&quot;}">
<a href="https://www.facebook.com/linus.lee.closed?hc_location=stream" data-ft="{&quot;tn&quot;:&quot;;&quot;}" data-hovercard="/ajax/hovercard/user.php?id=1347454670&amp;extragetparams=%7B%22hc_location%22%3A%22stream%22%7D">
LeeKiho</a></div></h5>
<h5 class="uiStreamMessage userContentWrapper" data-ft="{&quot;type&quot;:1,&quot;tn&quot;:&quot;K&quot;}"> 
<span class="messageBody" data-ft="{&quot;type&quot;:3,&quot;tn&quot;:&quot;K&quot;}">
<div>
<span class="userContent">노르딕 디자인전, 북유럽의 정제되고 깔끔한 디자인을 좋아하시는 분이라면 추천드립니다. 전시물이 그렇게 많지는 않지만, 보고 나면 하고 있던 일, 내가 있는 공간에서 잔가지처럼 붙어있던 주변요소들을 정리하고 싶은 생각이 드는 전시회네요.</span>
<span class="userContentSecondary">
<span class="fcg"> — with 
<a href="https://www.facebook.com/kyungjin.ahn.73" data-ft="{&quot;tn&quot;:&quot;;&quot;}" data-hovercard="/ajax/hovercard/user.php?id=1131125840">Kyungjin Ahn</a> 
at <a href="https://www.facebook.com/pages/%EC%84%9C%EC%9A%B8-%EC%8B%9C%EB%A6%BD-%EB%AF%B8%EC%88%A0%EA%B4%80/294130487337120?ref=stream" data-ft="{&quot;tn&quot;:&quot;P&quot;}" data-hovercard="/ajax/hovercard/page.php?id=294130487337120">
서울 시립 미술관</a>.</span>
</span>
</div></span></h5>
<div class="mvm uiStreamAttachments fbMainStreamAttachment" data-ft="{&quot;type&quot;:10,&quot;tn&quot;:&quot;H&quot;}">
<div class="clearfix photoRedesign">
<div class="photoRedesignRightMargin photoRedesignLink" data-ft="{&quot;type&quot;:41,&quot;tn&quot;:&quot;E&quot;}">
<a href="https://www.facebook.com/photo.php?fbid=10202346317163104&amp;set=pcb.10202346317883122&amp;type=1&amp;relevant_count=3&amp;ref=nf" rel="theater" ajaxify="https://www.facebook.com/photo.php?fbid=10202346317163104&amp;set=pcb.10202346317883122&amp;type=1&amp;relevant_count=3&amp;ref=nf&amp;src=https%3A%2F%2Ffbcdn-sphotos-f-a.akamaihd.net%2Fhphotos-ak-ash4%2F1472762_10202346317163104_1779619183_n.jpg&amp;size=720%2C960&amp;source=12" class="">
<div class="uiScaledImageContainer photoWrap" style="width:129px;height:129px;">
<img class="scaledImageFitWidth img" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/s173x172/1472762_10202346317163104_1779619183_n.jpg" alt="" width="129" height="172">
</div></a></div>
<div class="photoRedesignRightMargin photoRedesignLink" data-ft="{&quot;type&quot;:41,&quot;tn&quot;:&quot;E&quot;}">
<a href="https://www.facebook.com/photo.php?fbid=10202346317363109&amp;set=pcb.10202346317883122&amp;type=1&amp;relevant_count=2&amp;ref=nf" rel="theater" ajaxify="https://www.facebook.com/photo.php?fbid=10202346317363109&amp;set=pcb.10202346317883122&amp;type=1&amp;relevant_count=2&amp;ref=nf&amp;src=https%3A%2F%2Ffbcdn-sphotos-e-a.akamaihd.net%2Fhphotos-ak-prn2%2F1452531_10202346317363109_1420482851_n.jpg&amp;size=720%2C960&amp;source=12">
<div class="uiScaledImageContainer photoWrap" style="width:129px;height:129px;">
<img class="scaledImageFitWidth img" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn2/s173x172/1452531_10202346317363109_1420482851_n.jpg" alt="" width="129" height="172">
</div></a></div>
<div class="photoRedesignLink" data-ft="{&quot;type&quot;:41,&quot;tn&quot;:&quot;E&quot;}">
<a href="https://www.facebook.com/photo.php?fbid=10202346317723118&amp;set=pcb.10202346317883122&amp;type=1&amp;relevant_count=1&amp;ref=nf" rel="theater" ajaxify="https://www.facebook.com/photo.php?fbid=10202346317723118&amp;set=pcb.10202346317883122&amp;type=1&amp;relevant_count=1&amp;ref=nf&amp;src=https%3A%2F%2Ffbcdn-sphotos-c-a.akamaihd.net%2Fhphotos-ak-frc3%2F1465200_10202346317723118_1334831955_n.jpg&amp;size=720%2C960&amp;source=12">
<div class="uiScaledImageContainer photoWrap" style="width:130px;height:129px;">
<img class="scaledImageFitWidth img" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/p130x130/1465200_10202346317723118_1334831955_n.jpg" alt="" width="130" height="173">
</div></a></div></div></div>
<form rel="async" class="live_10202346317883122_316526391751760 commentable_item autoexpand_mode" method="post" action="/ajax/ufi/modify.php" data-live="{&quot;seq&quot;:0}" id="u_ps_jsonp_6_0_1h" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)">
<input type="hidden" name="charset_test" value="€,´,€,´,水,Д,Є">
<input type="hidden" name="fb_dtsg" value="AQALDXZ3" autocomplete="off">
<input type="hidden" autocomplete="off" name="feedback_params" value="{&quot;actor&quot;:&quot;1347454670&quot;,&quot;target_fbid&quot;:&quot;10202346317883122&quot;,&quot;target_profile_id&quot;:&quot;1347454670&quot;,&quot;type_id&quot;:&quot;22&quot;,&quot;assoc_obj_id&quot;:&quot;&quot;,&quot;source_app_id&quot;:&quot;0&quot;,&quot;extra_story_params&quot;:[],&quot;content_timestamp&quot;:&quot;1384578534&quot;,&quot;check_hash&quot;:&quot;AQDF2Z6xlYatyYdb&quot;,&quot;source&quot;:&quot;13&quot;}">
<input type="hidden" autocomplete="off" name="data_only_response" value="1">
<span class="uiStreamFooter">
<span class="UIActionLinks UIActionLinks_bottom" data-ft="{&quot;tn&quot;:&quot;=&quot;,&quot;type&quot;:20}">
<span><a class="UFILikeLink" href="#" role="button" aria-live="polite" title="Like this" data-ft="{&quot;tn&quot;:&quot;&gt;&quot;}" data-reactid=".r[4ri46]">
Like</a></span> 
· <label class="uiLinkButton comment_link" title="Leave a comment">
<input data-ft="{&quot;type&quot;:24,&quot;tn&quot;:&quot;S&quot;}" type="button" value="Comment" onclick="return fc_click(this);">
</label> 
· <a class="share_action_link" href="/ajax/sharer/?s=22&amp;appid=25554907596&amp;p%5B0%5D=1347454670&amp;p%5B1%5D=10202346317883122&amp;profile_id=100000118188187&amp;share_source_type=unknown" rel="dialog" data-ft="{&quot;tn&quot;:&quot;J&quot;,&quot;type&quot;:25}" title="Send this to friends or post it on your timeline." role="button">
Share</a> · </span>
<span class="uiStreamSource" data-ft="{&quot;type&quot;:26,&quot;tn&quot;:&quot;N&quot;}">
<a href="/linus.lee.closed/posts/10202346317883122">
<abbr title="Saturday, 16 November 2013 at 14:08" data-utime="1384578534" class="timestamp livetimestamp">
32 minutes ago</abbr></a> 
in <a href="https://www.facebook.com/pages/Seoul-Korea/108259475871818">Seoul</a></span> · 
<a data-hover="tooltip" class="uiStreamPrivacy inlineBlock fbStreamPrivacy fbPrivacyAudienceIndicator" href="#" role="button" id="u_ps_jsonp_6_0_27" aria-label="Shared with: Public">
<i class="lock img sp_clsqsh sx_8e6b3d"></i></a></span>
<div>
<div class="uiUfi UFIContainer" id="u_ps_jsonp_6_0_1t">
<ul class="UFIList" data-ft="{&quot;tn&quot;:&quot;]&quot;}" data-reactid=".r[3igcu]"><li class="UFIArrow" data-reactid=".r[3igcu].[0]"><i data-reactid=".r[3igcu].[0].[0]"></i></li><li class="UFIRow UFILikeSentence UFIFirstComponent" data-reactid=".r[3igcu].[1][0]"><div class="clearfix" data-reactid=".r[3igcu].[1][0].[0]"><div class="lfloat" data-reactid=".r[3igcu].[1][0].[0].{left}"><a class="img _8o _8r UFILikeThumb UFIImageBlockImage" href="#" tabindex="-1" title="Like this" role="button" aria-label="Like this" data-reactid=".r[3igcu].[1][0].[0].{left}.[0]"><i class="UFILikeIcon" data-reactid=".r[3igcu].[1][0].[0].{left}.[0].[0]"></i></a></div><div class="" data-reactid=".r[3igcu].[1][0].[0].{right}"><div class="UFIImageBlockContent _42ef _8u" data-reactid=".r[3igcu].[1][0].[0].{right}.[0]"><div class="UFILikeSentenceText" data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0]"><span data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0]"><a href="https://www.facebook.com/Revehumajin" class="profileLink" data-hovercard="/ajax/hovercard/hovercard.php?id=100001093511698&amp;extragetparams=%7B%22hc_location%22%3A%22ufi%22%7D" data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0].[0]">정미진</a><span data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0].[1]">, </span><a href="https://www.facebook.com/profile.php?id=100001471978901" class="profileLink" data-hovercard="/ajax/hovercard/hovercard.php?id=100001471978901&amp;extragetparams=%7B%22hc_location%22%3A%22ufi%22%7D" data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0].[2]">박노은</a><span data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0].[3]"> and </span><a href="https://www.facebook.com/profile.php?id=100003889663925" class="profileLink" data-hovercard="/ajax/hovercard/hovercard.php?id=100003889663925&amp;extragetparams=%7B%22hc_location%22%3A%22ufi%22%7D" data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0].[4]" aria-owns="js_13" aria-haspopup="true" id="js_14">지은이</a><span data-reactid=".r[3igcu].[1][0].[0].{right}.[0].[0].[0].[5]"> like this.</span></span></div></div></div></div></li><li class="UFIRow  UFIAddComment UFIAddCommentWithPhotoAttacher UFILastComponent" data-ft="{&quot;tn&quot;:&quot;[&quot;}" data-reactid=".r[3igcu].[1][4]"><div class="clearfix UFIMentionsInputWrap" data-reactid=".r[3igcu].[1][4].[0]"><div class="lfloat" data-reactid=".r[3igcu].[1][4].[0].{left}"><div class="img _8o _8r UFIReplyActorPhotoWrapper UFIImageBlockImage" data-reactid=".r[3igcu].[1][4].[0].{left}.[0]"><img class="img UFIActorImage _54ru" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/s32x32/275895_100000118188187_1547017479_q.jpg" alt="Haewon Jeong" data-reactid=".r[3igcu].[1][4].[0].{left}.[0].[0]"></div></div><div class="" data-reactid=".r[3igcu].[1][4].[0].{right}"><div class="UFIImageBlockContent _42ef _8u" data-reactid=".r[3igcu].[1][4].[0].{right}.[0]"><div data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0]"><div class="uiMentionsInput textBoxContainer ReactLegacyMentionsInput" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0]"><div class="highlighter" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[0]"><div data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[0].[0]"><span class="highlighterContent hidden_elem" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[0].[0].[0]"></span></div></div><div class="uiTypeahead mentionsTypeahead" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[1]"><div class="wrap" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[1].[0]"><input type="hidden" autocomplete="off" class="hiddenInput" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[1].[0].[0]"><div class="innerWrap" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[1].[0].[1]"><textarea name="add_comment_text" class="textInput mentionsTextarea uiTextareaAutogrow uiTextareaNoResize UFIAddCommentInput DOMControl_placeholder" title="Write a comment..." placeholder="Write a comment..." value="Write a comment..." data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[1].[0].[1].[0]">Write a comment...</textarea></div></div></div><input type="hidden" autocomplete="off" class="mentionsHidden" value="" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[0].[2]"></div><div class="UFIPhotoAttachLinkWrapper _m" data-hover="tooltip" data-tooltip-alignh="center" aria-label="Attach a Photo" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[1]"><i class="UFICommentPhotoIcon" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[1].[0]"></i><input accept="image/*" class="_n" name="file[]" type="file" title="Choose a file to upload" aria-label="Choose a file to upload" data-reactid=".r[3igcu].[1][4].[0].{right}.[0].[0].[1].[1]"></div></div></div></div></div></li></ul></div></div></form></div></div><div class="_6a mlm uiPopover highlightSelector uiStreamHide" data-ft="{&quot;type&quot;:55,&quot;tn&quot;:&quot;V&quot;}" id="u_ps_jsonp_6_0_1i"><a class="highlightSelectorButton uiStreamContextButton _p" href="#" aria-haspopup="true" aria-expanded="false" rel="toggle" id="u_ps_jsonp_6_0_1j" role="button">Options</a></div></div></div>