<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/fb_post_style.css">
    <title> faceScrap </title>
    <script type='text/javascript' src='/webjars/jquery/1.10.2/jquery.min.js'></script>
    <script type='text/javascript' src='/webjars/jquery-ui/1.10.3/ui/minified/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/webjars/mustachejs/0.7.0/mustache.js'></script>
    <script type="text/javascript"
            src="/webjars/historyjs/1.8.0/scripts/bundled-uncompressed/html5/jquery.history.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>

<body>
<div id="main_container" class="scrapbook">
    <div id="search_top">
        <form id="search_area" action="/searchtags" method="POST">
            <input type="text" name="keyword" id="search_string" placeholder="SEARCH TAG" class="input1">
            <input type="image" src="/images/search_button2.png" width="30" height="30" />
        </form>
    </div>
    <div id="user_info">
        <table class="user_info_table" width="150">
            <tr align="center">
                <td class="user_profile_td">
                    <img class="profile_pic_user" src="/images/surly.jpg" alt="Profile" th:src="${imageUrl}">
                </td>
            </tr>
            <tr align="center">
                <td th:text="${email}">iu@facebook.com</td>
            </tr>
            <tr align="center">
                <td>Scraps: <span th:text="${totalScraps}"></span></td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/j_spring_security_logout" class="button1">SIGN OUT</a>
                </td>
            </tr>
            <tr>
                <td>
                <td>
            </tr>
            <tr align="left">
                <td><span class="title1">MY TAGS</span>
                    <a href="managetags"><img src="/images/setting_button.png" id="manage_tag_button" class="img_button"
                                              height="30" width="30"></a>
                </td>
            </tr>
        </table>
        <hr>
    </div>

    <div id="scrapbook" class="post_container">
        <div id="scrapbook_title" class="post_cont_title">
            <h2 class="white">SCRAP BOOK
            </h2>
        </div>
        <div id="scrapbook_content" class="post_inner_container">
            <div class="empty">
                No results matching your search were found.
            </div>
        </div>
    </div>
</div>
</body>
</html>
