<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <style>
        #newsFeed {
            padding: 20px;
        }
    </style>
</head>
<body>

<div id="newsFeed">
</div>

<div style="text-align:center;">
    <button class="btn btn-primary" data-action="load-more" style="display:none;">
        Load More
    </button>
</div>

<script type='text/javascript' src='/webjars/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript' src='/webjars/mustachejs/0.7.0/mustache.js'></script>
<script type='text/javascript' src='/webjars/bootstrap/3.0.2/js/bootstrap.min.js'></script>
<script id='defaultTemplate' type='text/mustache'>
    <div class="fb-item panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-primary btn-xs pull-right" data-action="show-json">Show JSON</button>
            {{story}}
            {{^story}}
            {{from.name}}
            {{/story}}
            <span class="label label-info">{{type}}</span>
        </div>
        <div class="panel-content">
            <div class="message">
                {{message}}
            </div>
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <pre>{{json}}</pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '600322130029568',
            channelUrl: '/scripts/channel.html',
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        var nextUrl, divNewsFeed = $("#newsFeed"), btnLoadMore = $("button[data-action='load-more']");
        var defaultTemplate = Mustache.compile($("#defaultTemplate").text());

        var handleResponse = function(response) {
            if(!response) return;

            if(response.paging && response.paging.next){
                nextUrl = response.paging.next;
                btnLoadMore.show();
            }else{
                btnLoadMore.hide();
            }

            if(response.data && response.data.length){
                $.each(response.data, function(i, item) {
                    item.json = JSON.stringify(item);
                    var divItem = $(defaultTemplate(item));
                    divItem.on("click", "button[data-action='show-json']", function(){
                        $(this).closest(".fb-item").find(".modal").modal();
                    });
                    divNewsFeed.append(divItem);
                });
            }
        };

        btnLoadMore.click(function(){
            if(!nextUrl) return;
            $.get(nextUrl, function(data, status, xhr){
                handleResponse(data);
            });
        });

        FB.login(function () {
            FB.api("/me/home", handleResponse);
        }, {
            scope: "email,read_stream"
        });
    };

    // Load the SDK asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

</script>

</body>
</html>