<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/fb_post_style.css">
    <title> faceScrap </title>
    <script type='text/javascript' src='/webjars/jquery/1.10.2/jquery.min.js'></script>
    <script type='text/javascript' src='/webjars/jquery-ui/1.10.3/ui/minified/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/webjars/mustachejs/0.7.0/mustache.js'></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>

<body>
<div id="main_container">
    <div id="search_top">
        <form id="search_area" action="/searchtags" method="POST">
            <input type="text" name="keyword" id="search_string" placeholder="SEARCH TAG" class="input1">
            <input type="image" src="/images/search_button2.png" width="30" height="30"/>
        </form>
    </div>
    <div id="user_info">
        <table class="user_info_table" width="150">
            <tr align="center">
                <td class="user_profile_td">
                    <img class="profile_pic_user" src="/images/surly.jpg" alt="Profile" th:src="${imageUrl}">
                </td>
            </tr>
            <tr align="center">
                <td th:text="${email}">iu@facebook.com</td>
            </tr>
            <tr align="center">
                <td>Scraps: <span th:text="${totalScraps}" id="spanNumScraps"></span></td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/j_spring_security_logout" class="button1">SIGN OUT</a>
                </td>
            </tr>
            <tr>
                <td>
                <td>
            </tr>
            <tr align="left">
                <td><span class="title1">MY TAGS</span>
                    <a href="managetags"><img src="/images/setting_button.png" id="manage_tag_button" class="img_button"
                                              height="30" width="30"></a>
                </td>
            </tr>
        </table>
        <hr>
    </div>

    <div id="timeline" class="post_container">
        <div id="timeline_title" class="post_cont_title"><h2 class="white">TIME LINE</h2></div>
        <div id="timeline_content" class="post_inner_container">
        </div>
    </div>
    <div id="scrapbook" class="post_container">
        <div id="scrapbook_title" class="post_cont_title"><a href="/scrapbook"><h2 class="white">SCRAP BOOK</h2></a>
        </div>
        <div id="scrapbook_content" class="post_inner_container">
        </div>
    </div>
</div>

<script type="text/mustache" id="scrapTemplate">
    <div class="scrap_post" data-id="{{scrapPostId}}">
        <div class="tags">
            <a href="" data-action="unscrap" class="unscrap">&#10006;</a>
            {{#tags}}
            <span class="tag">{{name}}</span>
            {{/tags}}
        </div>
        {{{post}}}
        <div class="add_tags">
            {{#tags}}
            <span class="tag">{{name}} <a class="remove" data-id="{{tagId}}" data-action="untag" href="">
                &#10006;</a></span>
            {{/tags}}
            <form method="POST" action="/tag/{{scrapPostId}}" class="add_tag">
                <input type="text" name="name" class="tag_input"/>
                <input type="submit" value="+"/>
            </form>
        </div>
    </div>
</script>

<script type="text/mustache" id="posterInfoTemplate">
    <div class="post_info">
        <div class="poster_info">
            <img src="https://graph.facebook.com/{{from.id}}/picture?access_token={{access_token}}" alt="">

            <div class="poster_name">{{from.name}}</div>
        </div>
        <div class="like_count">
            <img src="/images/fb_like_icon.png" alt="Like" height="30px" width="30px">
            <span>{{like_count}}</span>
            <!-- TODO 아이콘 용도 확인
            <img src="/images/fb_link_icon.png" alt="Link" height="20px" width="20px">
            <img src="/images/fb_location_icon.png" alt="Location" height="20px" width="20px">
            <img src="/images/fb_people_icon.png" alt="People" height="20px" width="20px">
            -->
        </div>
    </div>
</script>

<script type="text/mustache" id="commentsTemplate">
    {{#has_comments}}
    <div class="comment_area">
        <div class="title">
            Comments
        </div>
        {{#comments}}
        <div class="comment">
            <div class="profile">
                <img src="https://graph.facebook.com/{{from.id}}/picture?access_token={{access_token}}"/>
            </div>
            <div class="content">
                <span class="poster_name">{{from.name}}</span>
                {{{message}}}
            </div>
        </div>
        {{/comments}}
        <div class="comment see_more" style="display:none">
            <span class="span_button see_more_button">&#8744;</span>
        </div>
    </div>
    </div>
    {{/has_comments}}
</script>

<script type="text/mustache" id="photoTemplate">
    <div class="fb_post" data-id="{{id}}">
        {{> posterInfo}}
        <div class="content_area">
            <div class="content">
                {{#story}}
                <div class="story">
                    {{story}}
                </div>
                {{/story}}
                {{#message}}
                <div class="message">
                    {{{message}}}
                </div>
                {{/message}}
                <div class="photo">
                    {{#object_id}}
                    <img class="post_pic"
                         src="https://graph.facebook.com/{{object_id}}/picture?width=200&access_token={{access_token}}">
                    {{/object_id}}
                    {{#caption}}
                    <div class="caption">
                        {{caption}}
                    </div>
                    {{/caption}}
                </div>
            </div>
            {{> comments}}
        </div>
    </div>
</script>

<script type="text/mustache" id="linkTemplate">
    <div class="fb_post" data-id="{{id}}">
        {{> posterInfo}}
        <div class="content_area">
            <div class="content">
                {{#story}}
                <div class="story">
                    {{story}}
                </div>
                {{/story}}
                {{#message}}
                <div class="message">
                    {{{message}}}
                </div>
                {{/message}}
                {{#picture}}
                <div class="link with_picture">
                    <div class="picture">
                        <img src="{{picture}}"/>
                    </div>
                    <div class="content">
                        <div class="name">
                            {{name}}
                        </div>
                        <div class="caption">
                            {{caption}}
                        </div>
                        <div class="description">
                            {{description}}
                        </div>
                    </div>
                </div>
                {{/picture}}
            </div>
            {{> comments}}
        </div>
    </div>
</script>

<script type="text/mustache" id="statusTemplate">
    <div class="fb_post" data-id="{{id}}">
        {{> posterInfo}}
        <div class="content_area">
            <div class="content">
                {{#story}}
                <div class="story">
                    {{story}}
                </div>
                {{/story}}
                {{#message}}
                <div class="message">
                    {{{message}}}
                </div>
                {{/message}}
            </div>
            {{> comments}}
        </div>
    </div>
</script>

<script type="text/javascript">
    (function ($, Mustache) {
        Mustache.compilePartial("posterInfo", $("#posterInfoTemplate").text());
        Mustache.compilePartial("comments", $("#commentsTemplate").text());

        var photoTemplate = Mustache.compile($("#photoTemplate").text()),
                scrapTemplate = Mustache.compile($("#scrapTemplate").text()),
                linkTemplate = Mustache.compile($("#linkTemplate").text()),
                statusTemplate = Mustache.compile($("#statusTemplate").text())
        accessToken = "";

        var pageToLoad = 0, loading = false, hasMore = true;

        var accessTokenLoaded = function () {
            loadMoreFeed();
            updateScraps();
        };

        var newLineToBr = function (content) {
            return content.replace('\n', '<br />');
        };

        var divPosts = $("#timeline_content"), divScraps = $("#scrapbook_content");
        var divLoading = $('<div class="loading"><img src="/images/loading.gif"/></div>').insertAfter(divPosts).hide();

        var setupFbPost = function (item) {
            var divPost = null;

            if (item.likes && item.likes.length)
                item.like_count = item.likes.length;
            else
                item.like_count = 0;

            item.has_comments = false;
            if (item.comments && item.comments.length) {
                item.has_comments = true;
                $.each(item.comments, function (i, comment) {
                    if (comment.message) comment.message = newLineToBr(comment.message);
                    comment.access_token = accessToken;
                });
            }
            item.access_token = accessToken;

            if (item.message) item.message = newLineToBr(item.message);

            switch (item.type) {
                case "photo":
                    divPost = $(photoTemplate(item));
                    break;
                case "link":
                    divPost = $(linkTemplate(item));
                    break;
                case "status":
                    divPost = $(statusTemplate(item));
                    break;
            }

            if (divPost) {
                var comment_divs = divPost.find('.comment');
                if (comment_divs.length > 5) {
                    for (var i = 5; i < comment_divs.length; i++) {
                        $(comment_divs[i]).hide();
                        $(comment_divs[i]).addClass("hidden_comment");
                    }
                    $(comment_divs[comment_divs.length - 1]).show();

                }
            }

            return divPost;
        };

        var setupScrapPost = function (item) {
            if (item.post) {
                item.post = setupFbPost(item.post)[0].outerHTML;
            }

            var divScrap = $(scrapTemplate(item));
            divScrap.on("click", "a[data-action]", function (evt) {
                evt.preventDefault();

                var action = $(this).data("action");
                switch (action) {
                    case "untag":
                        var tagId = $(this).data("id"), scrapId = $(this).closest(".scrap_post").data("id");
                        $.post("/untag/" + scrapId, {tagId: tagId}, function () {
                            updateScraps();
                        });
                        break;

                    case "unscrap":
                        var scrapId = $(this).closest(".scrap_post").data("id");
                        $.post("/unscrap", {id: scrapId}, function () {
                            updateScraps();
                        });
                }
            });

            divScrap.find("form.add_tag").submit(function (evt) {
                var txtInput = $(this).find("input[type='text']");
                evt.preventDefault();
                $.post($(this).attr("action"), $(this).serialize(), function () {
                    updateScraps();
                    txtInput.focus();
                });
            });

            return divScrap;
        };

        var loadMoreFeed = function () {
            if (loading) return;

            loading = true;
            divLoading.show();

            $.ajax("/feeds?page=" + pageToLoad)
                    .done(function (data) {
                        if (!data || !data.length) {
                            hasMore = false;
                        } else {
                            pageToLoad++;
                        }

                        $.each(data, function (i, item) {
                            var divPost = setupFbPost(item);

                            if (divPost != null) {
                                divPosts.append(divPost);
                                divPost.draggable({
                                    appendTo: "body",
                                    helper: "clone"
                                });
                            }
                        });
                    }).always(function () {
                        loading = false;
                        divLoading.hide();
                        syncScrapbookHeight();
                    });
        };

        var updateScraps = function () {
            $.ajax("/scraps").done(function (data) {
                divScraps.empty();

                $("#spanNumScraps").text(data.length);
                $.each(data, function (i, item) {
                    var divScrap = setupScrapPost(item);
                    if (divScrap != null) divScraps.append(divScrap);
                });
            });

            $(document).trigger("tagchange");
        };

        var syncScrapbookHeight = function () {
            var divTimeline = $("#timeline_content"), divScrapbook = $("#scrapbook_content");
            var timelineHeight = divTimeline.height();

            if (timelineHeight > divScrapbook.height()) {
                divScrapbook.css("min-height", timelineHeight);
            }
        };

        $("#scrapbook_content").droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ".fb_post",
            drop: function (event, ui) {
                var id = ui.draggable.data("id");

                $.post("/scrap", {id: id}, function (data) {
                    updateScraps();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                });
            }
        });

        $(window).scroll(function (evt) {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                loadMoreFeed();
            }
        });

        //TODO 사진 URL 서버에서 변환하기
        $.ajax("/fbtoken").done(function (data) {
            accessToken = data;
            accessTokenLoaded();
        });
    })($, Mustache);
</script>
</body>
</html>
