﻿<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title> faceScrap </title>
    <script type='text/javascript' src='/webjars/jquery/1.10.2/jquery.min.js'></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/JavaScript" src="/scripts/main.js"></script>
</head>

<body>
<div id="main_container">
    <div id="search_top">
        <input type="text" id="search_string" value="SEARCH TAG" class="input1">
        <a href="">
            <img id="search_button" src="/images/search_button.jpg" alt="Profile" width="30" height="30"
                 class="button2">
        </a>
    </div>
    <div id="user_info">
        <table class="user_info_table" width="150">
            <tr align="center">
                <td><img id="profile_img" src="/images/iu.jpg" alt="Profile" width="120" height="150"></td>
            </tr>
            <tr align="center">
                <td>iu@facebook.com</td>
            </tr>
            <tr align="center">
                <td>Scraps: 10</td>
            </tr>
            <tr align="center">
                <td><input type="button" value="SIGN OUT" class="button1"/></td>
            </tr>
        </table>

    </div>
    <div id="timeline">
        <h2 class="purple">TIME LINE</h2>
        <ul id="timeline_list" class="post_list">
            <li class="post_elem timeline_post" th:each="post:${posts}">
                <div class="fb_post">
                    <h4 class="scrap_cancel_button" align="right" style="display:none">&#10006;</h4>
                    <h5 class="user_name">
                        <img class="profile_pic"
                             src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c25.0.81.81/s50x50/252231_1002029915278_1941483569_s.jpg"
                             alt="">
                        <span th:text="${post.name}"></span>
                    </h5>

                    <div class="post_content">
                        <span class="userContent" th:text="${post.message}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="tag_suggestion" id="tag_null" style="display:none">
        Suggested Tags: <br>
        Add New Tags: <input type="text" class="input2"> <br>
        <input type="button" value="DONE" class="button_purple scrap_done_button">
    </div>

    <div id="scrapbook">
        <h2 class="purple">SCRAP BOOK</h2>
        <ol id="scrap_list" class="post_list">
            <li class="post_elem scrap_post">
                <div class="tag_tab">

                </div>
                <div class="fb_post">
                    <h5 class="user_name">
                        <img class="profile_pic"
                             src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/273697_100000331126507_531011456_q.jpg"
                             alt="">
                        JaeHun Kim
                    </h5>

                    <div class="post_content">
							<span class="userContent">
                                내년 KT까지 끼면 이 거품은 더 올라간다고 가정, 현실적인 내년 FA금액<br> 장원준 - 90억, 송은범 - 45억, 윤성환 - 60억, 안지만 - 25억 ( 삼성이니깐 ) 최정 - 120억, 박용택 - 30억 ( LG니깐 ), 김강민 - 45억, 정상호 - 40억, 조동찬 - 20억( 삼성이니깐 )</span>
                    </div>
                </div>
            </li>
            <li class="post_elem scrap_post">Scrap2</li>
            <li class="post_elem scrap_post">Scrap3</li>
        </ol>
    </div>
</div>
</body>
</html>
