<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/tag_manage_style.css">
    <title> faceScrap </title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.4.min.js"></script>
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <script type="text/javascript" src="../../scripts/tag_manage.js"></script>
</head>

<body>
<div id="main_container">
    <div id="search_top">
        <form id="search_area" action="/searchtags" method="POST" accept-charset="utf-8">
            <input type="text" name="keyword" id="search_string" placeholder="SEARCH TAG" class="input1">
            <input type="image" src="/images/search_button2.png" width="30" height="30" />
        </form>
    </div>
    <div id="user_info">
        <table class="user_info_table" width="150">
            <tr align="center">
                <td class="user_profile_td">
                    <img class="profile_pic_user" src="/images/surly.jpg" alt="Profile" th:src="${imageUrl}">
                </td>
            </tr>
            <tr align="center">
                <td th:text="${email}">iu@facebook.com</td>
            </tr>
            <tr align="center">
                <td>Scraps: <span th:text="${totalScraps}" id="spanNumScraps"></span></td>
            </tr>
            <tr align="center">
                <td>
                    <a href="/j_spring_security_logout" class="button1">SIGN OUT</a>
                </td>
            </tr>
            <tr>
                <td>
                <td>
            </tr>
            <tr align="left">
                <td><span class="title1">MY TAGS</span>
                    <a href="managetags"><img src="/images/setting_button.png" id="manage_tag_button" class="img_button"
                                              height="30" width="30"></a>
                </td>
            </tr>
        </table>
        <hr>
    </div>
    
    <div id="tag_tree_book" class="tagtree_container">
        <div id="tagtree_title" class="post_cont_title"><h2 class="white">TAG TREES</h2></div>
        <div id="tagtree_content" class="post_inner_container scroll_div">
        	<div id="tagtree_content_top">
        	<span class="span_button" id="add_new_tree">+ Add New Tree</span></div>
        </div>
    </div>

</div>

    

<div class="tag_tree_container scroll_div2" id="tag_tree_null" style="display:none">
	<div class="tag_tree_top">
	<span class="span_button delete_button">&#10006;</span>
	 <span class="span_button done_button" style="display:none">&#10004;</span>
	 <span class="span_button edit_button">EDIT</span>
	 </div>
	<div class="tag_tree_div"></div>
</div>
</body>
</html>
