<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
    <div th:each="post : ${feeds}">
        <span th:text="${post.message}"></span>
    </div>
</body>
</html>